autom4te.cache
Makefile
Makefile.in
INSTALL
compile
install-sh
ltmain.sh
libtool
depcomp
missing
/panel-plugin/xkb.desktop
/po/*.gmo
/po/POTFILES
.deps
.libs
*~
*.la
*.lo
*.o
*.tar.*
config.*
stamp*
m4/*.m4
ChangeLog
*.m4
*.in
/configure*
!/configure.ac
!/po/POTFILES.in
!/panel-plugin/xkb.desktop.in
!/xfce-revision.h.in
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/xfce4-xkb-plugin.pot
