autom4te.cache
Makefile
Makefile.in
INSTALL
compile
install-sh
ltmain.sh
libtool
depcomp
missing
/panel-plugin/xkb.desktop
/po/*.gmo
/po/POTFILES
/po/.intltool-merge-cache*
.deps
.libs
*.la
*.lo
*.o
*.tar.*
config.*
stamp*
m4/*.m4
ChangeLog
*.m4
*.in
/configure*
!/configure.ac.in
!/po/POTFILES.in
!/panel-plugin/xkb.desktop.in
